<% content_for :title, "Editing alien" %>

<h1>Editing alien</h1>

<%= render "form", alien: @alien %>

<br>

<div>
  <%= link_to "Show this alien", @alien %> |
  <%= link_to "Back to aliens", aliens_path %>
</div>
